<ion-content [fullscreen]="true">

  <ion-grid>
    
    <ion-row>
      <ion-col class="uno">
        
        <ion-card>
          <ion-card-header>
            <ion-input label="Name Pokemon : " placeholder="Input Name" [(ngModel)]="value"></ion-input>
            <ion-button (click)="getPokemonData2(value)" >
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Datos</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <h3>NOMBRE: {{data_pokemon.name}}</h3>
                <h3>NUM. POKEDEX: {{data_pokemon.id}}</h3>
                <h3>TIPO: {{data_pokemon.types[0].type.name}}</h3>
              </ion-card-content>
            </ion-card>
            
            <ion-img [src]=data_pokemon.sprites.front_default class="img1"></ion-img>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  
  </ion-grid>
  

</ion-content>