<ion-content [fullscreen]="true">

  <ion-grid>
    
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-input label="ID Pokemon : " placeholder="Input ID" type="number" [(ngModel)]="name"></ion-input>
            <ion-icon (click)="getPokemonData(name)" name="search-outline"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            {{pokemon.name}}
            <ion-img class="img1" [src]=pokemon.sprites.front_default></ion-img>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col class="uno">

        <ion-card>
          <ion-card-header>
            <ion-input label="Name Pokemon : " placeholder="Input Name" [(ngModel)]="name2"></ion-input>
            <ion-icon (click)="getPokemonData2(name2)" name="search-outline"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            {{pokemon2.id}}
            <ion-img [src]=pokemon2.sprites.front_default class="img1"></ion-img>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card>
        <ion-card-header>
          <ion-input label="ID Item : " placeholder="Input ID" type="number" [(ngModel)]="itemid"></ion-input>
          <ion-icon (click)="getItemData(itemid)" name="search-outline"></ion-icon>
        </ion-card-header>
      
        <ion-card-content>
          {{item.name}}
          <ion-img class="img2" [src]=item.sprites.default></ion-img>
        </ion-card-content>
      </ion-card>
      
    </ion-col>
      <ion-col  class="uno">

        <ion-card>
          <ion-card-header>
            <ion-input label="Name Item : " placeholder="Input Name" [(ngModel)]="itemid2"></ion-input>
            <ion-icon (click)="getItemData2(itemid2)" name="search-outline"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            {{item2.id}}
            <ion-img class="img2" [src]=item2.sprites.default></ion-img>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>